# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Output and logs
output/
data/
*.log

# OS files
.DS_Store
Thumbs.db

# Python environment files
*.pkl
*.db

# IDE files
.vscode/
.idea/
